<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="allimMapper">

	<resultMap type="Allim" id="allim_rm">
		<id property="allimNo" column="ALLIM_NO"/>
		
		<result property="allimContent" column="ALLIM_CONTENT"/>
		<result property="allimStatus" column="ALLIM_STATUS"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="allimDt" column="ALLIM_DT"/>
	</resultMap>
	
	<!-- 알림추가 -->
	<insert id="insertAllim" parameterType="Allim">
		INSERT INTO ALLIM
		SELECT SEQ_ALLIM_NO.NEXTVAL, A.* FROM (
			SELECT  #{allimContent} ALLIM_CONTENT, 
							'N' ALLIM_STATUS,
							MEMBER_NO 
							FROM WORKSPACE_JOIN 
							WHERE WORK_NO = #{workNo}
							AND MEMBER_NO != #{memberNo}
						
		) A
	</insert>

	<!-- 알림전송받을 멤버 조회 : 현재 워크스페이스에 참여중인 멤버 -->
	<select id="selectMemberList" parameterType="Allim" resultType="int">
		SELECT MEMBER_NO 
		FROM WORKSPACE_JOIN
		WHERE WORK_NO = #{workNo}
		AND MEMBER_NO != #{memberNo}
	</select>
	
	<!-- 모든 알람내역 조회 -->
	<select id="selectAllim" parameterType="_int" resultMap="allim_rm">
		SELECT ALLIM_NO, ALLIM_CONTENT, ALLIM_STATUS, MEMBER_NO, ALLIM_DT FROM ALLIM
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY ALLIM_DT DESC
	</select>

	<!-- 알림상태변경 : 안읽음 -> 읽음 -->
	<update id="readAllim" parameterType="Allim">
		UPDATE ALLIM SET ALLIM_STATUS = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	<!-- 알림상태변경 : 읽음 -> 안읽음 -->
	<update id="unreadAllim" parameterType="Allim">
		UPDATE ALLIM SET ALLIM_STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 알림삭제 -->
	<delete id="deleteAllim" parameterType="Allim">
		DELETE FROM ALLIM
		WHERE MEMBER_NO = #{memberNo}
	</delete>
	



</mapper>