<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calMapper">
	
	<resultMap type="Calendar" id="cal_rm">
		<id property="listNo" column="LIST_NO"/>
		
		<result property="title" column="LIST_NM"/>
		<result property="start" column="LIST_START_DT"/>
		<result property="end" column="LIST_END_DT"/>
		<result property="textColor" column="LIST_TCOLOR"/>
		<result property="backgroundColor" column="LIST_BGCOLOR"/>
		<result property="borderColor" column="LIST_BDCOLOR"/>
	</resultMap>
	

	<select id="selectCalendar" parameterType="string" resultMap="cal_rm">
	      SELECT LIST_NM, 
	               TO_CHAR(LIST_START_DT, 'YYYY-MM-DD HH24:MI:SS') AS LIST_START_DT, 
	               TO_CHAR(LIST_END_DT, 'YYYY-MM-DD HH24:MI:SS') AS LIST_END_DT, 
	               LIST_TCOLOR, LIST_BGCOLOR, LIST_BDCOLOR 
	      FROM C_LIST_I
	      WHERE TO_CHAR(LIST_START_DT, 'YYYY-MM')= #{startDate}
	</select>
	
	
	
<!-- 
	<select id="selectCalendar" parameterType="string" resultMap="cal_rm">
	      SELECT LIST_NM, 
	               TO_CHAR(LIST_START_DT, 'YYYY-MM-DD HH24:MI:SS') AS LIST_START_DT, 
	               TO_CHAR(LIST_END_DT, 'YYYY-MM-DD HH24:MI:SS') AS LIST_END_DT, 
	               LIST_TCOLOR, LIST_BGCOLOR, LIST_BDCOLOR 
	      FROM C_LIST_I
	      WHERE MEMBER_NO = #{memberNo}
	      AND  TO_CHAR(LIST_START_DT, 'YYYY-MM')= #{startDate}
	</select>
 -->
 


</mapper>