<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calMapper">
	
	<resultMap type="Calendar" id="cal_rm">
		<id property="listNo" column="LIST_NO"/>
		
		<result property="cardNo" column="CARD_NO"/>
		<result property="cardNm" column="CARD_NM"/>
		<result property="title" column="LIST_NM"/>
		<result property="start" column="LIST_START_DT"/>
		<result property="end" column="LIST_END_DT"/>
		<result property="textColor" column="LIST_TCOLOR"/>
		<result property="backgroundColor" column="LIST_BGCOLOR"/>
		<result property="borderColor" column="LIST_BDCOLOR"/>
		<result property="workNo" column="WORK_NO"/>
		<result property="workNm" column="WORK_NM"/>
	</resultMap>
	
	<resultMap type="Card" id="card_rm">
		<id property="cardNo" column="CARD_NO"/>
		
		<result property="cardNm" column="CARD_NM"/>
	</resultMap>
	
	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberNm" column="MEMBER_NM" />
	</resultMap>
	
	
	<select id="selectCalendar" parameterType="map" resultMap="cal_rm">
	     SELECT LIST_NM,  CARD_NO, CARD_NM, 
			    TO_CHAR(LIST_START_DT, 'YYYY-MM-DD HH24:MI:SS') AS LIST_START_DT, 
			    TO_CHAR(LIST_END_DT, 'YYYY-MM-DD HH24:MI:SS') AS LIST_END_DT, 
			    LIST_TCOLOR, LIST_BGCOLOR, LIST_BDCOLOR, WORK_NO, WORK_NM, LIST_NO 
			FROM LIST
			JOIN CARD USING(CARD_NO)
			JOIN WORKSPACE USING(WORK_NO)
			WHERE LIST_START_DT
			BETWEEN ADD_MONTHS(to_date(#{startDate}, 'RRRR-MM'), -1) 
			AND LAST_DAY(ADD_MONTHS(to_date(#{startDate}, 'RRRR-MM'), 1))
			AND LIST_NO IN(SELECT LIST_NO FROM LIST
					                 WHERE CARD_NO IN (SELECT CARD_NO FROM CARD
								                                     WHERE WORK_NO IN (SELECT WORK_NO FROM WORKSPACE_JOIN
								                                                    				   WHERE MEMBER_NO = #{memberNo} )                                                    
		                                       				 		 AND CARD_STATUS = 'Y')
                                     AND LIST_STATUS = 'Y')
	</select>
	

   <select id="selectWorkSpace" parameterType="string">
      SELECT WORK_NO FROM WORKSPACE_JOIN
	  WHERE MEMBER_NO = #{memberNo}
   </select>	
<!-- 	
	<select id="selectCalendar" parameterType="map" resultMap="cal_rm">
	     SELECT LIST_NM, 
			    TO_CHAR(LIST_START_DT, 'YYYY-MM-DD HH24:MI:SS') AS LIST_START_DT, 
			    TO_CHAR(LIST_END_DT, 'YYYY-MM-DD HH24:MI:SS') AS LIST_END_DT, 
			    LIST_TCOLOR, LIST_BGCOLOR, LIST_BDCOLOR, WORK_NO, WORK_NM, LIST_NO 
			FROM LIST
			JOIN CARD USING(CARD_NO)
			JOIN WORKSPACE USING(WORK_NO)
			WHERE TO_CHAR(LIST_START_DT, 'YYYY-MM')= #{startDate}
			AND LIST_NO IN(SELECT LIST_NO FROM LIST
			                WHERE CARD_NO IN (SELECT CARD_NO FROM CARD
			                                  WHERE WORK_NO IN (SELECT WORK_NO FROM WORKSPACE_JOIN
			                                                    WHERE WORK_NO = #{workNo} )))
	</select>
	
	 -->
	 
	 	<select id="selectTeamCal" parameterType="map" resultMap="cal_rm">
	     SELECT LIST_NM, CARD_NO, CARD_NM,
			    TO_CHAR(LIST_START_DT, 'YYYY-MM-DD HH24:MI:SS') AS LIST_START_DT, 
			    TO_CHAR(LIST_END_DT, 'YYYY-MM-DD HH24:MI:SS') AS LIST_END_DT, 
			    LIST_TCOLOR, LIST_BGCOLOR, LIST_BDCOLOR, WORK_NO, WORK_NM, LIST_NO 
			FROM LIST
			JOIN CARD USING(CARD_NO)
			JOIN WORKSPACE USING(WORK_NO)
			WHERE LIST_START_DT
			BETWEEN ADD_MONTHS(to_date(#{startDate}, 'RRRR-MM'), -1) 
			AND LAST_DAY(ADD_MONTHS(to_date(#{startDate}, 'RRRR-MM'), 1))
			AND LIST_NO IN(SELECT LIST_NO FROM LIST
					                 WHERE CARD_NO IN (SELECT CARD_NO FROM CARD
									                                 WHERE WORK_NO IN (SELECT WORK_NO FROM WORKSPACE_JOIN
									                                                    			   WHERE WORK_NO = #{workNo} )
		                                       				 		 AND CARD_STATUS = 'Y')
                                     AND LIST_STATUS = 'Y')
	</select>


	<!-- 팀 카드 목록 조회  -->
	<select id="selectCardList" parameterType="_int" resultMap="card_rm">
		SELECT CARD_NO, CARD_NM FROM CARD
		WHERE WORK_NO = #{workNo}
		AND CARD_STATUS = 'Y'
	</select>
	
	<!-- 팀 멤버 목록 조회  -->
	<select id="selectMemberList" parameterType="_int" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_NM FROM WORKSPACE_JOIN
		NATURAL JOIN MEMBER
		WHERE WORK_NO = #{workNo}
		AND MEMBER_STATUS='Y'
	</select>



</mapper>