<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="listMapper">
	
	<resultMap type="ListList" id="list_rm">
		<id property="listNo" column="LIST_NO"/>
		
		<result property="cardNo" column="CARD_NO"/>
		<result property="listNm" column="LIST_NM"/>
		<result property="listStatus" column="LIST_STATUS"/>
		<result property="listCreateDt" column="LIST_CREATE_DT"/>
		<result property="listModifyDt" column="LIST_MODIFY_DT"/>
		<result property="listDeleteDt" column="LIST_DELETE_DT"/>
		
		<result property="listTColor" column="LIST_TCOLOR"/>
		<result property="listBgColor" column="LIST_BGCOLOR"/>
		<result property="listBdColor" column="LIST_BDCOLOR"/>
		
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="listStartDt" column="LIST_START_DT"/>
		<result property="listEndDt" column="LIST_END_DT"/>
		
		<result property="doName" column="DO_NAME"/>
		<result property="memberNm" column="MEMBER_NM"/>
	</resultMap>
	
	<!-- 해당 카드에 대한 리스트 조회 -->
	<select id="selectList" parameterType="list" resultMap="list_rm">
		SELECT CARD_NO, CARD_NM, LIST_NO, LIST_NM, LIST_START_DT, LIST_END_DT, DO_NAME
		FROM CARD C
		JOIN LIST USING(CARD_NO)
		JOIN LIST_DO USING (LIST_NO)
		WHERE C.WORK_NO = #{list[0].workNo}
		AND LIST_STATUS ='Y'
		AND CARD_NO in 
			<foreach collection="list" item="card" open="(" close=")" separator=",">
				#{card.cardNo}
			</foreach>
	
	</select>
	
	<!-- 리스트 삽입 -->
	<insert id="insertLlist" parameterType="ListList">
		<selectKey keyProperty="listNo" resultType="_int" order="BEFORE"> 
			SELECT SEQ_CAL_LIST.NEXTVAL FROM DUAL 
		</selectKey>
		
		INSERT INTO LIST  
		VALUES
		(#{listNo}, #{cardNo}, #{listNm}, DEFAULT, DEFAULT, SYSTIMESTAMP, NULL, DEFAULT, DEFAULT, DEFAULT, #{memberNo},
		 TO_DATE(#{listCreateDt}, 'RRRR-MM-DD"T"HH24:MI') , TO_DATE(#{listEndDt}, 'RRRR-MM-DD"T"HH24:MI')
 		)
	</insert>
	
	
	<!-- 리스트 참여자 멤버 삽입 -->
	<insert id="insertListJoin" parameterType="ListList">
		INSERT INTO LIST_JOIN 
		SELECT SEQ_LJOIN_NO.NEXTVAL, A.* FROM(
			<foreach collection="memList" item="item" separator="UNION ALL">
				SELECT #{listNo} LIST_NO, 
							 #{item} MEMBER_NO, 
							 #{workNo} WORK_NO
				FROM DUAL
			</foreach>
		) A
	</insert> 
	
	
	<!-- 리스트 삽입 상태 -->
	<insert id="insertListDo" parameterType="ListList">
		INSERT INTO LIST_DO VALUES(
			#{listNo}, #{doName}
		)
	</insert>
	
	<!-- 리스트 삭제 -->
	<update id="deleteList" parameterType="_int">
		UPDATE LIST SET LIST_STATUS = 'N'
		WHERE LIST_NO = #{listNo}
	</update>
	
	<!-- 리스트 드랍했을때 -->
	<update id="dropList" parameterType="ListList">
		UPDATE LIST SET CARD_NO = #{cardNo}
		WHERE LIST_NO = #{listNo}
	</update>
	
	
	<!-- 단순 리스트 조회 -->
 	<select id="selectListView" parameterType="_int" resultMap="list_rm">
		SELECT LIST_NM, LIST_START_DT, LIST_END_DT, DO_NAME
		FROM LIST 
		JOIN LIST_DO USING (LIST_NO)
		WHERE LIST_NO = #{listNo}
	</select>
	
	<!-- 리스트 참여 멤버 조회 -->
	<select id="selectMemList" parameterType="_int" resultMap="list_rm">
		SELECT MEMBER_NO, MEMBER_NM FROM LIST_JOIN
		JOIN MEMBER USING (MEMBER_NO)
		WHERE LIST_NO = #{listNo}
	</select>
	
	<!-- 해당 리스트 참여 멤버 조회 -->
	<select id="listJoinMemList" parameterType="list" resultMap="list_rm">
		SELECT MEMBER_NO, LIST_NO, MEMBER_NM
		FROM LIST_JOIN 
		JOIN MEMBER USING (MEMBER_NO)
		WHERE LIST_NO IN
			<foreach collection="list" item="listjoin" open="(" close=")" separator=",">
				#{listjoin.listNo}
			</foreach>
		
	</select>
	
	<!-- 리스트 참여자 업데이트시 기존 참여자 삭제 -->
	<delete id="deleteListJoin" parameterType="_int">
		DELETE FROM LIST_JOIN WHERE LIST_NO = #{listNo}
	</delete>
	
	<!-- 리스트 상태 업데이트 -->
	<update id="updateListStatus" parameterType="list">
		UPDATE LIST_DO SET DO_NAME = #{doName}
		WHERE LIST_NO = #{listNo}
	</update>
	
	<!-- 리스트 바뀐 내용 업데이트 -->
	<update id="updateList" parameterType="list">
		UPDATE LIST SET
		LIST_NM = #{listNm}, 
		LIST_START_DT = TO_DATE(#{listStartDt}, 'RRRR-MM-DD"T"HH24:MI'),
		LIST_END_DT = TO_DATE(#{listEndDt}, 'RRRR-MM-DD"T"HH24:MI')
 		WHERE LIST_NO = #{listNo}
	</update>
	

</mapper>