<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managementMapper">
	
	<resultMap type="Management" id="mm_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		<id property="workNo" column="WORK_NO"/>
		
		<result property="memberRank" column="MEMBER_RANK"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberNm" column="MEMBER_NM"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberImg" column="MEMBER_IMG"/>
	</resultMap>
	
	<resultMap type="Pagination" id="pg_rm">
		<result property="listCount" column="CNT"/>		
		<result property="workNm" column="WORK_NM"/>		
		<result property="workNo" column="WORK_NO"/>		
	</resultMap>
	
	<!-- 특정 팀의 모든 팀원 수 조회 -->
	<select id="memberCount" parameterType="_int" resultMap="pg_rm">
		SELECT CNT, (SELECT WORK_NM FROM WORKSPACE WHERE WORK_NO = #{workNo}) WORK_NM
		FROM (SELECT COUNT(*) CNT 
				   FROM C_WORK_JOIN 
				   WHERE WORK_NO = #{workNo})
	</select>
	
	<!-- 특정 팀의 모든 멤버 정보 조회 -->
	<select id="selectMember" parameterType="_int" resultMap="mm_rm">
			SELECT * FROM C_WORK_JOIN 
			WHERE WORK_NO = #{workNo} AND MEMBER_STATUS = 'Y'
			ORDER BY MEMBER_RANK
	</select>
	
	<!--  팀 멤버 초대 -->
	<insert id="invitation" parameterType="Management">
		INSERT INTO INVITATION VALUES
		((SELECT MEMBER_NO FROM MEMBER
					WHERE MEMBER_STATUS = 'Y'
					AND MEMBER_ID=#{memberId}), #{workNo}, #{memberRank})
	</insert>

	<!-- 초대 테이블에서 회원등급 조회 -->
	<select id="selectIvitation" parameterType="Management" resultType="string">
		SELECT MEMBER_RANK FROM INVITATION
		WHERE MEMBER_NO = #{memberNo}
		AND WORK_NO = #{workNo}
	</select>


	<!-- 팀 회원 추가 -->
	<update id="addJoinMember" parameterType="Management">
			INSERT INTO WORKSPACE_JOIN VALUES
			(#{memberNo}, #{workNo}, #{memberRank})
	</update>
	
	<!-- 팀 회원 제거 -->
	<delete id="deleteInvitation" parameterType="Management">
			DELETE FROM INVITATION
			WHERE MEMBER_NO = #{memberNo}
			AND WORK_NO = #{workNo}
	</delete>
	
	<!-- 팀에 존재하는 회원인지 확인 -->
	<select id="selectWorkspaceJoin" parameterType="Management" resultType="map">
		SELECT CNT, (SELECT WORK_NM FROM WORKSPACE WHERE WORK_NO=#{workNo}) WORK_NM
		FROM (SELECT COUNT(*) CNT FROM WORKSPACE_JOIN
		
				WHERE MEMBER_NO =#{memberNo}
				
				AND WORK_NO = #{workNo})
	</select>
	
		<!-- 회원등급수정 -->
	<update id="updateMemberRank" parameterType="Management">
			UPDATE WORKSPACE_JOIN SET MEMBER_RANK = #{memberRank}
			WHERE WORK_NO = #{workNo}
			AND MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 팀 회원 삭제 -->
	<update id="deleteJoinMember" parameterType="Management">
		DELETE FROM WORKSPACE_JOIN
		WHERE WORK_NO = #{workNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	



</mapper>