<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">

	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberNm" column="MEMBER_NM" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="memberStatus" column="MEMBER_STATUS" />
		<result property="memberGrade" column="MEMBER_GRADE" />
		<result property="memberNick" column="MEMBER_NICK"/>
		<result property="memberSign" column="MEMBER_SIGN"/>		
		<result property="sessionId" column="SESSION_KEY"/>		
		<result property="sessionLimit" column="SESSION_LIMIT"/>		
	</resultMap>

	<select id="login" parameterType="string" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE
		MEMBER_STATUS = 'Y'
		AND MEMBER_ID = #{memberId}
	</select>
	
	<select id="idDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		AND MEMBER_ID = #{id}
	</select>
	
	<insert id="signUp" parameterType="Member">
		INSERT INTO MEMBER
		VALUES( SEQ_MNO.NEXTVAL , #{memberId} , #{memberPw} ,#{memberNm}, #{memberPhone}, 
				DEFAULT, DEFAULT, DEFAULT, #{memberNick}, NULL, NULL, 'NONE', NULL)
	</insert>
	
	<select id="getMemberSessionId" parameterType="string" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE SESSION_KEY = #{sessionId}
		AND SESSION_LIMIT > SYSDATE
	</select>
	
	<update id="keepLogin" parameterType="map">
		UPDATE MEMBER SET
		SESSION_KEY = #{memberId},
		SESSION_LIMIT = #{limitDate}
		WHERE MEMBER_ID = #{inputId}
	</update>
	
	
</mapper>







