<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="workspaceMapper">

	<resultMap type="Workspace" id="workspace_rm">
		<id property="workNo" column="WORK_NO"/>
		
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="workNm" column="WORK_NM"/>
		<result property="workInfo" column="WORK_INFO"/>
		<result property="workStatus" column="WORK_STATUS"/>
	</resultMap>
	
	<resultMap type="WorkspaceJoin" id="workspaceJoin_rm">
		<id property="memberNo" column="WORK_NO"/>
		<id property="workNo" column="WORK_NO"/>
		
		<result property="memberRank" column="MEMBER_RANK"/>
	</resultMap>
	
	
	<select id="selectWorkList" parameterType="_int" resultMap="workspace_rm">
	    SELECT WORK_NO, WORK_NM
	    FROM WORKSPACE
	    WHERE WORK_NO IN (SELECT WORK_NO FROM WORKSPACE_JOIN WHERE MEMBER_NO = #{memberNo})
	</select>
	
	<select id="selectWorkspace" parameterType="_int" resultMap="workspace_rm">
		SELECT *
		FROM WORKSPACE
		WHERE WORK_NO = #{workNo}
	
	</select>
	
	<!-- 워크스페이스 추가 -->
	<insert id="addWorkspace" parameterType="Workspace">
	
		<selectKey keyProperty="workNo" resultType="_int" order="BEFORE"> 
			SELECT SEQ_CAL_WS.NEXTVAL FROM DUAL 
		</selectKey>
	
		INSERT INTO WORKSPACE VALUES
		(#{workNo}, #{memberNo}, #{workNm}, #{workInfo}, DEFAULT)
	</insert>
	
	<!-- 워크스페이스조인 추가 -->
	<insert id="addWorkspaceJoin" parameterType="Workspace">
		INSERT INTO WORKSPACE_JOIN VALUES
		(#{memberNo}, #{workNo}, DEFAULT)
	</insert>
	
	<!-- 워크스페이스 나가기 -->
	<delete id="deleteWorkspace" parameterType="_int">
		DELETE FROM WORKSPACE_JOIN 
		WHERE WORK_NO = #{workNo}
	</delete>
	
	<!-- 워크스페이스에 왕도롱뇽이 몇명인지 확인 -->
	<select id="selectKing" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM WORKSPACE_JOIN
		WHERE WORK_NO = #{workNo}
		AND MEMBER_RANK = 1
	</select>


	<!-- 워크스페이스에 멤버가 몇명인지 확인 -->
	<select id="selectJoinMember" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM WORKSPACE_JOIN
		WHERE WORK_NO = #{workNo}
	</select>
	
	<!-- 워크스페이스 상태 n 만들기 -->
	<update id="updateWorkspaceStatus" parameterType="_int">
		UPDATE WORKSPACE SET WORK_STATUS = 'N'
		WHERE WORK_NO = #{workNo}
	</update>
</mapper>