@charset "UTF-8";

        div{
            /* border : 2px solid rgb(24, 64, 88); */
            box-sizing:border-box;
        }
        .calendarinsert{
            width:500px;
            height:100%;
            border : 2px solid rgb(24, 64, 88);
            box-sizing:border-box;
        }

        /* 카드타이틀 */
        .calendartitle{
            width:100%;
        }
        .calendartitle2{
            width:95%;
            float:left;
        }
        .calendartitle2 h1{
            margin-top:10px;
            margin-bottom:10px;
        }
        .calendarexit{
            width:5%;
            height:67px;
            float:left;
        }
        
        /* 팀이름 */
        .calendartn{
            float:left;
            width:100%;
        }
        .calendartn h3{
            margin-top:5px;
            margin-bottom:5px;
        }
        
        /* 참여멤버 */
        .calendarmember{
            float:left;
            width:100%;
        }
        
        /* 상태변경 */
        .calendarstatus{
            float:left;
            width:100%;
            
        }

        /* 날짜변경 */
        .calendardatechange{
            float:left;
            width:100%;
            
        }
      
        /* 파일첨부 */
        .calendarfile{
            float:left;
            width:100%;
            
        }
        
        /* 작성완료버튼 */
        .calendarbutton{
            float:left;
            width:100%;
            text-align:center;
        }
        .calendarbutton button{
            background-color:rgb(24, 64, 88);
            color:white;
            border-radius: 5px;
            width:500px;
            font-size:20px;
        }
        .calendarbutton button:hover{
            background-color:rgb(42,111,154);
        }

        /* 위치 */
        .calendarmemberimg, .calendarstatusimg, .calendardatechangeimg, .calendardatechangeimg{
            width:50px;
            float:left;
        }
        .calendarmemberip, .calendarstatusip, .calendardatechangeip, .calendardatechangeip{
            width:440px;
            float:left;
        }
