
.top{
    height: 10%;
}

.container{
    display: inline-block;
    white-space: nowrap;
    height: auto;
}

.empty{
    display: inline-block;
/*     width: 200px; */
    height: auto;
    margin-left: 10px;
    padding: 10px;
    border: 5px rgb(42,111,154) solid;
    background-color: white;
    top: 0;
    vertical-align: top;
    border-radius:7px;
}

.fill{
    position: relative;
    border : 4px rgb(213,232,243) solid;
 	height: auto; 
    top: 5px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
    border-radius:7px;
}
/*************************************************************************************  */

.listNm{
    display: inline-block;
    margin-left: 5px;
    margin-top : 5px;
}

.mem{
    display: inline-block;
    margin-left: 5px;
}

.memImg{
    display: inline-block;
    margin-left: 2px;
}

.create{
    display: inline-block;
}

.LcreateDt{
    display: inline-block;
    margin-left: 5px;
    margin-right: 7px;
}

.listStartDt{
    display: inline-block;
    clear : both;
}

.LEndDt{
    display: inline-block;
    margin-left: 5px;
    margin-right: 7px;
}

.listEndDt{
    display: inline-block;
}

.lStatus{
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.statusCategory{
    display: inline-block;
}

.status{
	margin-left : 12px;
	margin-right : 14px
}

.Lfile{
    display: inline-block;
}

.listFile{
    display: inline-block;
}



/*************************************************************************************  */

.hold{
    border: solid rgb(213,232,243) 4px;
}

.hovered{
	border : 4px  rgb(42,111,154) solid;
    border-style: dashed;
}

.invisible{
    display: none;
}


.bottom{
    height: 10%;
}


.addCard{
    display: inline-block;
    border: 5px solid rgb(42,111,154);
    background-color : white;
    border-radius : 6px;
    margin-left: 10px;
    font-size: larger;
}

.undo{
    display: inline-block;
    z-index : 1;
    float : right;
}

.addList{
    width: 150px;
    height: 20px;
    float: bottom;
    
}


/* ****************************************************** */

/* .addList{
    width: 130px;
    height: 20px;
}
 */
.name{
    display: inline-block;
    margin-bottom: 15px;
}

.cardName{
    width: 150px;
    border: none;
}

.top{
    height: 10%;
}

.list{
    height: 80%;
}

.bottom{
    height: 10%;
}
/* *********************************************************************** */




/* 리스트 모달 css */

.pofileImg {
    display: inline-block;
}

/* 
.fileNone {
    display: none;
}


#fileUpload-ul{
	width: 100%;  
	list-style: none;
} */
/* 
.deleteBtn{
	cursor: pointer;
}
 */

/* *******************멤버 ***********************8 */

.profile{
	display: inline-block;
}

.profileMem{
	display: inline-block;
}


.memTag {
    display: inline-block;
    text-align: center;
    padding: 3px;
    padding-left: 6px;
}


.memNm{
	display: inline-block;
}

 .cancel{
 	display: inline-block;
	cursor: pointer;
 }

.participants {
	display: inline-block;
	border: 3px solid gray;
	border-radius: 5px;
}

.upMemTag{
	display: inline-block;   
}

/**********************이미지  */
.profileMemImg{
	width : 40px;
}

.listStartImg{
	width : 30px;
}
.statusImg{
	margin-top : 5px;
	width : 30px;
}
