@charset "UTF-8";

	    @font-face {
		    font-family: 'BMJUA';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		}
    
        div {
            /* border : 2px solid rgb(24, 64, 88); */
            box-sizing: border-box;
        }

        /*         @media(max-width:950px) {
            h1{font-size:25px; margin-bottom:0;}
            h3{font-size:15px; margin-bottom:0;}
            .memberprofile img{height:30px;}
        }
        @media(max-width:690px) {
            h1{font-size:15px; margin-bottom:0;}
            h3{font-size:5px; margin-bottom:0;}
            .memberprofile img{height:15px;}
        } */


        /* 전체 테두리 */
        .chattinglistcontainer {
            width: 100%;
            height: 100%;
        }

        /* 타이틀 */
        .chattinglisttitle {
            width: 100%;
            height: 5%;
            border-bottom: 2px solid rgb(24, 64, 88);
            float: left;
        }

        .chattinglisttitle h1,
        .chattinglisttitle h3 {
            margin-bottom: 5px;
            margin-top: 10px;
        }

        .chattinglisttt {
            width: 50%;
            float: left;
        }

        #loginmemberemail {
            float: right;
            padding-top: 18px;
        }



        /* 채팅창 */
        .chatting-area {
            margin: auto;
            height: 600px;
            width: 450px;
            margin-bottom: 100px;
            float:left;
        }
        
        .display-chatting {
            width: 100%;
            height: 600px;
            border: 1px solid black;
            overflow: auto;
            list-style: none;
            padding: 10px 10px;
        }

        .chat {
            display: inline-block;
            border-radius: 20%;
            padding: 5px;
            background-color: #eee;
        }


        .input-area {
            width: 100%;
            display: flex;
        }

        #inputChatting {
            width: 80%;
            resize: none;
        }

        #send {
            width:20%;
            background-color:rgb(24, 64, 88);
        }

        .myChat {
            text-align: right;
        }

        .myChat>p {
            background-color: yellow;
        }

        .chatDate {
            font-size: 9px;
        }