div{
    box-sizing: border-box;
}

#signResult-modal-dialog{
    width: 1000px;
}

#signResult{
	width: 1000px;
}

#signResultLabel{
	width: 100%;
	text-align: left;
}

.signResult-table th{
    background-color: rgb(213, 232, 243);
    border: 1px solid rgb(42, 111, 154);
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
}

.signResult-table td{
    border: 1px solid rgb(42, 111, 154);
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

.signResult-table th, .signResult-table td{
    border: 1px solid rgb(42, 111, 154);
}

#signYes, #signNo{
    margin-left: 20px;
}

.signResult-label{
    margin-bottom: 0;
}

#signResult-comment{
    height: 200px;
}

#sign-comment{
    min-height: 200px;
    width: 100%;
}

.signResult-table textarea{
	background-color: white;
}

.textB{
    box-sizing: border-box;
    vertical-align: middle;
    width: 100%;
    resize: none;
}

#signResult-confirm-btn{
    margin-right: 10px;
    width: 100px;
    font-size: 20px;
}

#signResult-cancel-btn{
    margin-right: 20px;
    width: 100px;
    font-size: 20px;
}
