body{
	background-color: rgb(213, 232, 243) !important;
}

.sideMenu{
	float: left;
}

#document-container{
    box-sizing: border-box;
    min-height: 935px;
    height: auto;
    width: 80%;
    padding-bottom: 0px;
    float: left;
    overflow: auto;
}

.tab_content{
    text-align: left; /* 라디오버튼 왼쪽 정렬 */
    height: 100%;
}

input[type="radio"]{
    display: none;
}

input[type="radio"] + label{
    display: inline-block;
    padding: 13px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    border: 1px solid rgb(42, 111, 154) !important;
    background-color: rgb(213, 232, 243) !important;
    border-bottom: none;
    margin-top: 36px;
    margin-bottom: 0;
}

input[type="radio"]:checked + label{
    background-color: rgb(42, 111, 154) !important;
    color: white;
}

.conbox{
	max-width: 1400px;
    height: 90%;
    padding-left: 2%;
    padding-right: 2%;
    display: none;
    border: 1px solid rgb(42, 111, 154) !important;
    background-color: rgb(213, 232, 243) !important;
    position: relative;
    margin-bottom: 0;
}

/* 각 탭이 클릭 되었을때 뿌려지는 내용 */
input[id="tab01"]:checked ~ .con1{
    display: block;
}

input[id="tab02"]:checked ~ .con2{
    display: block;
}

input[id="tab03"]:checked ~ .con3{
    display: block;
}

input[id="tab04"]:checked ~ .con4{
    display: block;
}

#document-view-menubar{
    margin-top: 2%;
}

#document-view-optionbar{
    width: fit-content;
    margin: 1%;
    float: left;
    font-size: 18px;
}

#newDocument, #signAllDocument, #deleteDocument, #deleteAllDocument{
    float: right;
    margin: 1%;
    font-size: 18px;
    background-color: rgb(42, 111, 154) !important;
    border: 1px solid rgb(42, 111, 154) !important;
}

#document-list-content{
    padding-top: 1%;
    margin: 1%;
    clear: both;
    font-size: 18px;
}

.table thead th {
    border-bottom: 2px solid rgb(42, 111, 154) !important;
}

.table td, .table th {
	border-top: 1px solid rgb(42, 111, 154) !important;
}

.document-list-table{
    text-align: center;
}

.documentPg{
    margin-top: 2%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1%;
}

div{
    box-sizing: border-box;
    text-align: center;
}

#documentType-modal-dialog{
    width: 1100px;
}

#documentTypeLabel{
    width: 94%;
}

#documentType-img, #documentType-close-btn{
    font-size: 40px;
}

.documentTypeBtn{
	width: 100%;
	height: 100%;
	background: none;
	border: none;
}

.card-body{
	padding: 15px;
}

.card-title{
	margin: 0;
}