div{
    box-sizing: border-box;
}

#viewer-modal-dialog{
    width: 1100px;
}

#viewer-img, #viewer-close-btn{
    font-size: 40px;
}

#viewer-container{
    height: 700px;
    position: relative;
}

.viewer-container{
    width: 300px;
    height: 600px;
    display: inline-block;
    position: absolute;
    left: 40px;
    bottom: 50px;
}

.viewer-search{
    width: 100%;
    height: 7%;
    border-bottom: 1px solid gray;
}

.viewer, #viewer-info-content{
    width: 100%;
    height: 94%;
    border: 1px solid rgb(42, 111, 154) !important;
}

#viewer-title, #viewer-info-title{
    width: fit-content;
}

#viewer-info-content{
    border: 1px solid rgb(42, 111, 154);
}

#viewer-search-option{
    width: 27%;
    float: left;
}

#viewerSearch{
    width: 60%;
    float: left;
}

.viewerSearchBtn, #viewer-forward-btn, #viewer-back-btn{
    background-color: white;
    border-style: hidden;
}

#viewer-name{
    border-top: 1px solid rgb(42, 111, 154);
    border-bottom: 1px solid rgb(42, 111, 154);
}

.viewer-iconbox{
    width: 100px;
    height: 200px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 397px;
    vertical-align: middle;
}

#viewer-forward-btn{
    margin-top: 55px;
}

#viewer-forward, #viewer-back{
    font-size: 45px;
}

.viewer-info{
    width: 500px;
    height: 600px;
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: 50px;   
}

#viewer-table{
    width: 400px;
    height: auto;
    margin-left: 48px;
    margin-top: 30px;
    text-align: center;
}

#viewer-table th, #viewer-table td{
    border: 1px solid rgb(42, 111, 154) !important;
}

#viewer-table th{
	background-color: rgb(213, 232, 243);
}

#viewer-confirm-btn{
    margin-right: 30px;
    width: 100px;
    font-size: 20px;
}

#viewer-cancel-btn{
    margin-right: 20px;
    width: 100px;
    font-size: 20px;
}
